<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Page sécurisée avec login</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <h2>Page non sécurisée</h2>
            <hr/>
           
            sans tag de spring security thymeleaf extra plugin : 
            
            <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="btn btn-warning"/>
            </form>
        </div>
    </body>
</html>